.tool > img {
  width: 3rem;
}

.title {
  font-size: clamp(15rem, 7vw, 18rem);
  width: 70%;
  margin-left: 1rem;
}

.subtitle {
  font-size: clamp(5rem, 3vw, 7rem);
}

.fullname {
  font-size: 2rem;
  text-align: end;
  width: clamp(13%, 17vw, 20%);
  margin-right: 10%;
}

.btw-title {
  background: #2073c7;
  color: #ffffff;
  letter-spacing: 1rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 0 10px;
}
.edutech-title {
  color: #d41c4a;
}

.tools-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}

.tool {
  border: #227ad3 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 12rem;
  gap: 0.5rem;
}

.tools-list {
  border: #2073c7 1px solid;
}
